<htm>
    <head>
    
        <title>EJS</title>
    </head>
    
    <body>
    
    <h1>Lista</h1>
    
    
    <%  for(let item of listaview) { %>
        <div> Item: <%=  formatarValor(item) %>   </div>
        <hr>
        
    <% } %>    
    
    
    </body>
    
    
    
    </htm>